.App {
  text-align: left;
}
.navigation{
  text-align: left;
  text-decoration: none;
  overflow: hidden;
  padding: 20px;
  display: block;
  background-color: rgb(240, 189, 152);
}
.nav{
  float: left;
  font-size: 20px;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}
a{
  text-decoration: none;
  color: rgb(65, 4, 4);
}
.nav-right{
  float: right;
  font-size: 20px;
  font-weight: 500;
  margin-right:10px;
}
.body{
  text-align: center;
}
.btn{
  width: 200px;
  padding: 20px;
  margin: 30px;
  cursor: pointer;
  background-color: rgb(68, 184, 118);
  font-size: 20px;
  border-radius: 10px;
}
.btn:hover{
  background-color: seagreen;

}